/* Top Vacation Spots */
h1 {
	color: maroon;
}
.title {
	color: teal;
}
.uppercase {
	text-transform: uppercase;
}

/* published */
.publish-time {
	color: gray;
}

/* other */
.cursive {
	font-family: cursive;
}
.capitalize {
	text-transform: capitalize;
}

h2.destination {
	font-family: cursive;
}